footer {
  max-width: 100%;
  width: 100vw;
  box-sizing: border-box;
  padding: 0;
  background-image: radial-gradient(
    at 30% top,
    #031d33 0%,
    rgba(var(--tmdbDarkBlue), 1) 70%
  );
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
  justify-content: center;
}
footer nav div.join img {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 55%;
}
footer nav a.rounded {
  position: relative;
  top: 140px;
  border-color: #fff;
  background-color: #fff;
  color: rgba(var(--tmdbLightBlue), 1);
  font-size: 1.2em;
  font-weight: bold;
  display: inline-block;
  word-wrap: break-word;
  white-space: normal;
  text-transform: uppercase;
}

.rounded {
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 8px 16px;
  transition: linear 0.1s;
}
footer nav {
  font-size: 0.9em;
}

footer nav,
footer nav a {
  color: #fff;
}
footer nav {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 80px;
}
footer nav div.join {
  text-align: right;
  position: relative;
  top: -36px;
  right: 0;
}
footer nav div {
  margin-right: 40px;
  min-width: 0;
  box-sizing: border-box;
}
footer section {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #fff;
  opacity: 0.1;
  font-size: 0.7em;
}
footer nav h3 {
  font-weight: bold;
  font-size: 1.4em;
  line-height: 1.4em;
  text-transform: uppercase;
  color: #fff;
  white-space: nowrap;
}
footer nav ul li {
  line-height: 1.5em;
  max-width: 260px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  display: block;
}
footer nav ul li a {
  font-size: 1.1em;
  font-weight: normal;
}

footer nav,
footer nav a {
  color: #fff;
}
